body{
    background-color: rgb(95, 95, 95);
    margin: 0px 190px 0px 190px;
    font-family: Arial, Helvetica, sans-serif;

    
} 

#introtext{
    color: rgb(125, 98, 150);
}

.highlight{
    color: bisque;
    font-weight: 200;
}



.reset{
    clear: both;
}

#maincontainer{
    width: 950px;
    float: left;
}

#contactcontainer{
    width: 470px;
    float: left;
}

#profilecontainer{
    width: 240px;
    float: left;
}

#introcontainer{
    width:240px ;
    height: 400px;
    float: left;
}
