body{
    background-color: #8d01a99d;
    margin: 0px 190px 0px 190px;
    font-family: Arial, Helvetica, sans-serif;

    
} 

#navigation {
    height: 30px;
    margin: 0px 0px 10px 0px;
}

#navigation2 {
    height: 30px;
    margin: 0px 0px 10px 0px;
}

#navigation2 a{
    padding: 10px;
    background: rgb(000, 128, 128);
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 10px;
}

#navigation2 a:hover {
    background: #695e00ae;
}



#navigation a {
    padding: 10px;
    background: #8d01a9;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 10px;
}

#navigation a:hover {
    background: #2ac619ae;
}

.highlight{
    color: #8d01a9;
    font-weight: 200;
}



.reset{
    clear: both;
}

#maincontainer{
    width: 910px;
    float: left;
}

#contactcontainer{
    width: 370px;
    float: left;
}

#profilecontainer{
    width: 230px;
    float: left;
    margin: 0px 0px 0px 10px;
}

#introcontainer{
    width: 300px;
    height: 400px;
    float: left;
}
